body {
    margin: 10px;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8; /* Set a light background color */
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px; /* Increase padding for a prominent header */
    font-size: 1em; /* Increase font size for header text */
    border-radius: 10px;
}

.profile-container {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    background-color: white; /* Set a white background for the profile container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a card-like appearance */
    border-radius: 10px; /* Add rounded corners to the container */
}

.profile-left {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-left img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to the image */
}

.profile-description {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    padding: 20px; /* Add padding to the description for readability */
}

.profile-right {
    flex: 1;
    padding: 20px;
}

.progress-bar-container {
    margin-bottom: 20px;
}

.progress-bar {
    width: 100%; /* Change width to 100% to fill the container */
    height: 20px;
    background-color: #4CAF50;
    border-radius: 8px;
}

.progress-text {
    text-align: center;
    margin-top: 10px; /* Increase margin-top for spacing */
    font-weight: bold; /* Make the progress text bold */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px; /* Increase padding for button size */
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s, transform 0.2s;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}
