body {
    margin: 10px;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo-container {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    background-color: rgb(248, 248, 248, 0.95);
}

#profile-title {
    margin: auto;
}

#organization-logo {
    max-width: 80px;
    height: auto;
    border-radius: 10px;
}
.main-content {
    display: flex;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden; /* Ensure the child elements do not overflow the rounded corners */
}

.profile-left, .profile-right {
    padding: 20px;
}

.profile-left {
    flex: 2; /* Allocate more space for the story/description */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#profile-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Adjust as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#volunteer-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

#volunteer-description {
    text-align: justify;
    margin-bottom: 20px;
}

.profile-right {
    flex: 1;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volunteer-progress-container {
    width: 100%;
    padding: 10px;
}

.volunteer-progress-bar {
    height: 20px;
    background-color: #4CAF50;
    border-radius: 8px;
    margin-bottom: 10px;
}

.volunteer-progress-text {
    text-align: center;
    margin-bottom: 20px;
}

#sign-up-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.volunteer-list ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
}

.volunteer-list li {
    text-align: left;
    margin-bottom: 5px;
}

.see-all {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #4CAF50;
    text-decoration: none;
}
