body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

#home-section {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('home.jpeg') center/cover no-repeat; /* Replace with your background image */
}

#home-section h1 {
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
}

#volunteer-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#profiles-section {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.profile-card {
    flex: 0 0 auto;
    width: 60vw;
    min-width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    scroll-snap-align: start;
    cursor: pointer; /* Set cursor to pointer */
}

.profile-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.profile-card h2 {
    margin: 10px 0;
}

/* Additional styling for the full profile page */
.full-profile {
    padding: 20px;
    text-align: center;
}

/* Change cursor to 'pointer' on hover */
.profile-card:hover {
    cursor: pointer;
}
